<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>物业客户档案-手机表单</title>
	<!--字段背景风格App模板-->
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
	<!--公共的js和css start-->
	[#AWSImport]
	[#AWSUIImport]
	<script src="../apps/_bpm.portal/commom.form.js"></script>
	<!--公共的js和css end-->
	<!--配色方案-->
	<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	<link rel="stylesheet" type="text/css" href="../apps/_bpm.portal/css/client.bpm.form.mobile.common.css?v=1588908698315">
	<link rel="stylesheet" type="text/css" href="../apps/com.actionsoft.apps.form.theme.antdui/css/theme/antdui.css?v=1581770151000">
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/com.actionsoft.apps.form.theme.antdui/css/theme/theme_m.css' name='themeCss'/>
</head>
<body>
<form id='frmMain' name='frmMain' method="post" >
	<div id='aws-form-container' style='width:100%;border:0px;'>
		<table  id='aws-form-maintable' style="table-layout: auto;width:100%;border:0px;"  border=0 cellpadding=0 cellspacing=0 >
			<!--每个模板必须含有 aws-form-titlebg 和 title样式 否则无法应用配色风格-->
			<tr id='aws-form-titlebg' class='aws-form-ux-titlebg' style='display: none;'>
				<!--若自定义模板title的 id -->
				<td id='aws-form-title' class='aws-form-ux-header'> 物业客户档案 </td>
			</tr>
			<tr class="aws-form-ux-formcontent" id='aws-form-formcontent'>
				<td>
					<table id='table_container'  class="awsui-ux table-striped" style="padding: 0px;" width='100%' cellspacing='0' cellpadding='0'>
						<tbody>
						<tr><td class='awsui-ux-title' style='padding-left:0px;'> <label id='CUSTOMERNAMELabel' for='CUSTOMERNAME'>客户姓名</label></td><td class='aws-form-ux-content'>[#CUSTOMERNAME]</td></tr><tr><td class='awsui-ux-title' style='padding-left:0px;'> <label id='CUSTOMERTYPELabel' for='CUSTOMERTYPE'>客户类型</label></td><td class='aws-form-ux-content'>[#CUSTOMERTYPE]</td></tr><tr><td class='awsui-ux-title' style='padding-left:0px;'> <label id='CUSTOMERIDCARDNOLabel' for='CUSTOMERIDCARDNO'>身份证号码</label></td><td class='aws-form-ux-content'>[#CUSTOMERIDCARDNO]</td></tr><tr><td class='awsui-ux-title' style='padding-left:0px;'> <label id='CELLPHONELabel' for='CELLPHONE'>联系电话</label></td><td class='aws-form-ux-content'>[#CELLPHONE]</td></tr><tr><td class='awsui-ux-title' style='padding-left:0px;'> <label id='CUSTOMERSTATUSLabel' for='CUSTOMERSTATUS'>客户状态</label></td><td class='aws-form-ux-content'>[#CUSTOMERSTATUS]</td></tr>
						</tbody>
					</table></td>
			</tr>
			<tr class="aws-form-bottom">
				<td class="aws-form-ux-bottom aws-form-ux-actionsoft">[#Actionsoft]
				</td>
			</tr>
		</table>
		<script src="../apps/com.actionsoft.apps.form.theme.antdui/js/commom.form.js?v=1581770151000"></script>
		<script src="../apps/com.actionsoft.apps.form.theme.antdui/js/antdui.js?v=1581770151000"></script>
	</div>
</form>
</body>
</html>