<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
		<title>Not find this html file</title>
		<link rel="stylesheet" type="text/css" href="../commons/css/awsui.css?v=1588908650367" />
		<script type="text/javascript" src="../commons/js/jquery/scripts/jquery.js?v=1588908694097"></script>
		<script>
var AWS_LANGUAGE	= "cn";
var 输入值不正确 = "输入值不正确";
var 正在提交请求请稍候 = "正在提交请求，请稍候...";
var 参数不正确要求 = "ajax参数不正确，要求";
var 请求出错 = "请求出错--";
var 未正确返回的服务端异常 = "未正确返回的服务端异常";
var 用户会话已超时 = "用户会话已超时";

//aws.address.js
var 确定 = "确定";
var 地址簿 = "地址簿";
var 请输入查询条件 = "请输入查询条件";
var 取消 = "取消";
var 快速搜索 = "快速搜索";
var 人员 = "人员";
var 部门 = "部门";
var 群组 = "群组";
var 全部删除 = "全部删除";

//aws.userprofile.js
var 详细 = "详细";
var 显示 = "显示";
var 隐藏 = "隐藏";
var 对不起未找到此人信息 = "对不起，未找到此人信息";
var 展开 = "展开";
var 离线 = "离线";
var 页面无法读取参数 = "页面无法读取SID参数";
var 在线 = "在线";
var 发送消息 = "发送消息";
var 接收人 = "接收人";
var 沟通方式 = "沟通方式";
var 请输入内容 = "请输入内容";
var 消息内容 = "消息内容";
var 还可输入 = "还可输入";
var 字 = "字";
var 最多允许输入200字 = "最多允许输入200字";
var 发送 = "发送";
var 发送成功 = "发送成功";
var 不能为空 = "不能为空";
var 微信 = "微信";
var 通知 = "通知";

//aws.datepicker.range.js
var 使用 = "使用";
var 上个季度 = "上个季度";
var 上一年 = "上一年";
var 前半年 = "前半年";
var 今年 = "今年";
var 上个月 = "上个月";
var 开始日期格式不正确 = "开始日期格式不正确";
var 前两年 = "前两年";
var 本季度 = "本季度";
var 结束日期格式不正确 = "结束日期格式不正确";
var 开始日期不能大于结束日期 = "开始日期不能大于结束日期";
var 快捷选项 = "快捷选项";
var 清空 = "清空";
var 前三年 = "前三年";

//slider.js
var 请输入 = "请输入";

//aws.util.js
var 清空数据 = "清空数据";
var 正在加载 = "正在加载";
var 确定 = "确定";
var 提示 = "提示";
var 试图同时创建相同的 = "试图同时创建相同ID的FrmDialog";
var 印章密码 = "印章密码";
var 当前对象拥有多个实例请对特定实例操作 = "当前window对象拥有多个FrmDialog实例，请对特定实例操作";
var 是确定 = "是，确定";
var 保存 = "保存";
var 返回 = "返回";
var 取消 = "取消";

//aws.upfile.js
var 备注不能为空 = "[备注]不能为空";
var 确定 = "确定";
var 上传文件总数不允许超过 = "上传文件总数不允许超过：";
var 标题大小 = "标题大小";
var 上传成功 = "上传成功";
var 提示 = "提示";
var 图片压缩成功 = "图片压缩成功";
var 文件大小不允许超过 = "文件大小不允许超过：";
var 正在上传请稍候 = "正在上传，请稍候";
var 进度 = "进度";
var 确定要删除吗文件名 = "确定要删除吗？<br/>文件名:";
var 确定要删除吗 = "确定要删除吗？";
var 文件名 = "文件名";
var 空文件不能上传 = "空文件不能上传";
var 文件类型不正确 = "文件类型不正确";
var 文件名可能存在不可见的非法字符请重新命名文件名再上传 = "文件名可能存在不可见的非法字符，请重新命名文件名再上传";
var 标题 = "标题";
var 备注 = "备注";
var 水印添加成功 = "水印添加成功";
var 备注不能超过个字符 = "[备注]不能超过225个字符";
var 上传状态 = "上传状态";
var 取消 = "取消";
var 大小 = "大小";
var 确认上传 = "确认上传";
var 云文档 = "云文档";
var 普通 = "普通";
var 秘密 = "秘密";
var 机密 = "机密";
var 绝密 = "";
var 附件历史版本 = "附件历史版本";
var 文件名 = "文件名";
var 上传时间 = "上传时间";
var 上传信息 = "上传信息";
var 操作 = "操作";
var 暂无数据 = "暂无数据";
var 删除 = "删除";

//aws.tabs.js
var 关闭全部 = "关闭全部";
var 关闭其他 = "关闭其他";
var 关闭 = "关闭";

//aws.photocut.js
var 加载中 = "加载中...";

//aws.combobox.js
var 请选择或输入 = "请选择或输入...";
var 无数据 = "无数据";
var 请选择 = "请选择";
var 空格 = "空格";
var 可填多个值以 = "可填多个值以";
var 作为分隔符 = "作为分隔符";
var 可填多个值以空格作为分隔符 = "可填多个值,以空格作为分隔符";
var 空 = "空";

//aws.ueditor.config.js
var 图片上传 = "图片上传";
var 关闭 = "关闭";
var 网络图片 = "网络图片";
var 取消 = "取消";
var 附件上传 = "附件上传";
var 上传 = "上传";
var 水印 = "水印";
var 压缩 = "压缩";

</script>
<script type="text/javascript" src="../commons/js/awsui.js?v=1588908698216"></script>
	</head>
	<body >
	<div class="awsui-message-page">
		<div class="content">
			<!--messageType格式，任务其一-->
			<!--图片形式：<span class="icon"><img src="../commons/js/jquery/themes/default/ui/images/messagePage/info.png"></span>-->
			<!--属性形式：<span class="icon" message-type="ok"></span>-->
			<span class="icon" message-type="not_found"></span>

			<span class="title" style="display: ">Not find this html file</span>
			<span class="description" style="display: ">com.awspaas.user.apps.shhtaerospaceindustrial[预订管理-上航_车辆档案_m.htm]</span>
		</div>
	</div>

		<script>
			//超时自动跳转
			try {
				var isRelogin = "false";
				var corpId = "";
				function delayURL(delay) {
					if (delay == undefined) {
						delay = document.getElementById("time").innerHTML;
					}
					if (delay > 1) {
						delay--;
						document.getElementById("time").innerHTML = delay;
						setTimeout("delayURL('" + delay + "')", 1000);
					} else {
						try{
							if (window.navigator.userAgent.indexOf('DingTalk') > -1) {
								//钉钉跳转到首页
								window.top.location.href="https://dingtalk.yijingcloud.com/dingtalk/rd?corpId="+corpId;
							}else{
								var loginUrl='<#loginUrl>';
								if (loginUrl.length == 0){
									if (window.top.homePageId != undefined && window.top.content != undefined) {
										window.top.location.href='../console';
									} else {
										window.top.location.href = '../';
									}
								} else {
									window.top.location.href = loginUrl;
								}
							}
						} catch(e) {
							//跨域处理
							if ($(document.body).find('#relogin').length==0){
								$(document.body).append("<iframe id='relogin' name='relogin' style='display:none;'></iframe>");
							};
							document.getElementById('relogin').contentWindow.location='https://www.sht808.com/portal/apps/_bpm.portal/html/com.actionsoft.relogin.proxy.htm'
						}
					}
				}
				if (isRelogin == "true") {
					if (window.navigator.userAgent.indexOf('DingTalk') > -1) {
						 $(".description").html("会话超时，即将刷新页面以重新登录,<span id='time'>3</span>秒后自动跳转");
					}
					setTimeout("delayURL()", 1000);
				}
			}catch(e){}
			//js事件扩展
			try {
				
			}catch(e){}
			
			$(function(){
				var ua = navigator.userAgent.toLowerCase();
				if(!!ua.match(/(iphone|ipod|android|ios)/i)){
					//
				}
			})
		</script>
	</body>
</html>