<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>上航_餐饮订单（结算子表）</title>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
		
		[#AWSImport]
		<link type='text/css' rel='stylesheet' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css?v=1588908694729'  name='schemeCss'/>
		<link type='text/css' rel='stylesheet' href='../apps/_bpm.platform/css/theme/theme_m.css?v=1521618657000?v=1521618657000' name='themeCss'/>
		[#AWSImport]
		[#AWSUIImport]
		<style>
		.mui-bar-tab {
			height: 74px;
		}
		</style>
	
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme_m.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" name="frmMain" method="post" action="./w"><header class="mui-bar mui-bar-nav" id="AWSRowPageToolbar">[#ToolBar]</header>
<div id="aws-form-container" class="aws-form-ux-container" border="0" style="min-width: 100%;">
<div id="FormGridRowPage" border="0" style="overflow: auto; width: 100%; margin-top: 45px; margin-bottom: 70px;">
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" style="min-width: 100%;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg" style="display: none;">
<td id="aws-form-title" class="aws-form-ux-header">上航_餐饮订单（结算子表）</td>
</tr>
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent" style="min-width: 100%;">
<td>
<table width="100%">
<tbody>
<tr>
<td>
<table class="awsui-ux table-striped" width="100%" cellspacing="3" cellpadding="0">
<tbody>
<tr>
<td class="awsui-ux-title"><label id="SERVICETYPELabel" for="SERVICETYPE">服务项目类别</label></td>
<td class="aws-form-ux-content">[#SERVICETYPE]</td>
</tr>
<tr id="c8ed65d8_ea80_0001_fcf5_1bc13200194e">
<td class="awsui-ux-title"><label id="SERVICENAMELabel" class="aws-form-ux-label" for="SERVICENAME">服务项目</label></td>
<td class="aws-form-ux-content">[#SERVICENAME]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label id="NUMLabel" for="NUM">数量</label></td>
<td class="aws-form-ux-content">[#NUM]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label id="ONEPRICELabel" for="ONEPRICE">单价</label></td>
<td class="aws-form-ux-content">[#ONEPRICE]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label id="TOTALMONEYLabel" for="TOTALMONEY">总价</label></td>
<td class="aws-form-ux-content">[#TOTALMONEY]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label id="REMARKLabel" for="REMARK">备注</label></td>
<td class="aws-form-ux-content">[#REMARK]</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]</td>
</tr>
</tbody>
</table>
</div>
</div>
[#operateButtons]</form>
<div id="boItemNameSearch_div" class="mui-search-div" border="0" style="display: none;"></div>
</body>
</html>