<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>上航_交流中心预订-手机表单</title>
	<!--字段背景风格App模板-->
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
	
	[#AWSImport]
	[#AWSUIImport]
	<script src="../apps/_bpm.portal/commom.form.js"></script>
	
	
	<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css?v=1588908694729'  name='schemeCss'/>
	<link rel="stylesheet" type="text/css" href="../apps/_bpm.portal/css/client.bpm.form.mobile.common.css?v=1588908698315">
	<link rel="stylesheet" type="text/css" href="../apps/com.actionsoft.apps.form.theme.antdui/css/theme/antdui.css?v=1589851448797">
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/com.actionsoft.apps.form.theme.antdui/css/theme/theme_m.css' name='themeCss'/>
</head>
<body>
<form id="frmMain" name="frmMain" method="post">
<div id="aws-form-container" border="0" style="width: 100%; border: 0px;">
<table id="aws-form-maintable" style="table-layout: auto; width: 100%; border: 0px;" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg" style="display: none;">
<td id="aws-form-title" class="aws-form-ux-header">上航_交流中心预订</td>
</tr>
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent">
<td>
<table id="table_container" class="awsui-ux table-striped" style="padding: 0px;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="awsui-ux-title" style="padding-left: 0px;">预订单位</td>
<td class="aws-form-ux-content">[#XSCOMPANY]</td>
</tr>
<tr id="c8f3338b_8170_0001_fe6b_14f017701356">
<td class="awsui-ux-title" style="padding-left: 0px;">预订部门</td>
<td class="aws-form-ux-content">[#APPLYDEPTNAME]</td>
</tr>
<tr>
<td class="awsui-ux-title" style="padding-left: 0px;"><label id="APPLYNAMELabel" for="APPLYNAME">预定人</label></td>
<td class="aws-form-ux-content">[#APPLYNAME]</td>
</tr>
<tr id="c8fd8ad1_0470_0001_5bd4_6a9510701886">
<td class="awsui-ux-title" style="padding-left: 0px;"><label id="APPLYUSERCELLPHONELabel" class="aws-form-ux-label" for="APPLYUSERCELLPHONE">预定人手机</label></td>
<td class="aws-form-ux-content">[#APPLYUSERCELLPHONE]</td>
</tr>
<tr>
<td class="awsui-ux-title" style="padding-left: 0px;"><label id="REMARKLabel" for="REMARK">客户要求</label></td>
<td class="aws-form-ux-content">[#REMARK]</td>
</tr>
<tr>
<td class="awsui-ux-title" style="padding-left: 0px;"><label id="CANCELREASONLabel" class="aws-form-ux-label" for="CANCELREASON">预订失败原因</label></td>
<td class="aws-form-ux-content">[#CANCELREASON]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label id="ORDERTYPELabel" for="ORDERTYPE" flag="labelRequired">预订类型</label></td>
<td class="aws-form-ux-content">[#ORDERTYPE]</td>
</tr>
<tr>
<td colspan="2" class="aws-form-ux-gridbg">[#Grid1]</td>
</tr>
<tr>
<td colspan="2" class="aws-form-ux-gridbg">[#Grid2]</td>
</tr>
<tr>
<td colspan="2" class="aws-form-ux-gridbg">[#Grid3]</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-bottom aws-form-ux-actionsoft">[#Actionsoft]
<div id="hiddenArea" border="0" style="display: none;">[#ORDERID][#APPLYDEPTID][#APPLYUNITID][#APPLYUID][#MOBILETITLE][#MOBILECONTENT][#MOBILECONTENT][#ORDERSTATUS][#APPLYUNIT][#EDATE][#NOTE][#BDATE]</div>
</td>
</tr>
</tbody>
</table>
<script src="../apps/com.actionsoft.apps.form.theme.antdui/js/commom.form.js?v=1589851448822"></script>
<script src="../apps/com.actionsoft.apps.form.theme.antdui/js/antdui.js?v=1589851448822"></script>
<script src="../commons/js/aws.mobile.jsapi.js"></script>
</div>
</form>
<script>
AWSFormMainAPI.customCloseFormPage(function(){
    //自己处理当前的窗口如何的代码
    var url=localStorage.getItem("backUrl");
    location.href=url;
    return true;//最后返回true
});
</script>
<script id="formOnload">// <![CDATA[
function formOnload(){
	$("#BTN_SAVE").parent().hide();//隐藏表单上的保存按钮
  	setTimeout(()=>{
    	$('.aws-mc-content-odd').each(function(){
      		var str = $(this).find("span").text().slice(0,16)
      		$(this).find("span").text(str);
    	});
        $('.aws-mc-content-even').each(function(){
            var str = $(this).find("span").text().slice(0,16)
            $(this).find("span").text(str);
        });
        $(".form-mobile-right-arrow").hide();
 	},0);
  	//alert(arr);
  	/*var sj = $(".form-grid-mobile-common-tap").text();
  	if(sj.search(":00") != -1){
    	sj = sj.replace(":00","");
    }*/
}
// ]]></script>
</body>
</html>