<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>资源管理（新）</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		[#AWSImport]
		[#AWSUIImport]
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" name="frmMain" method="post">
<div id="aws-form-container" class="aws-form-ux-container" border="0">
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" style="table-layout: auto;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg">
<td id="aws-form-title" class="aws-form-ux-header">资源管理（新）</td>
</tr>
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent">
<td>
<table id="table_container" class="awsui-ux table-striped" style="padding: 0px;" width="100%" cellspacing="3" cellpadding="0"><colgroup><col class="awsui-ux-title" /><col style="width: 100.0%;" /></colgroup>
<tbody>
<tr>
<td class="awsui-ux-title"><label for="RECORDDATE" class="aws-form-ux-label">日期</label></td>
<td class="aws-form-ux-content">[#RECORDDATE]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="YIHUI_S" class="aws-form-ux-label">第一会议室（上午）</label></td>
<td class="aws-form-ux-content">[#YIHUI_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="ERHUI_S" class="aws-form-ux-label">第二会议室（上午）</label></td>
<td class="aws-form-ux-content">[#ERHUI_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SANHUI_S" class="aws-form-ux-label">第三会议室（上午）</label></td>
<td class="aws-form-ux-content">[#SANHUI_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SIHUI_S" class="aws-form-ux-label">第四会议室（上午）</label></td>
<td class="aws-form-ux-content">[#SIHUI_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="QIPAISHI_S" class="aws-form-ux-label">棋牌室（上午）</label></td>
<td class="aws-form-ux-content">[#QIPAISHI_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="YIHUI_X" class="aws-form-ux-label">第一会议室（下午）</label></td>
<td class="aws-form-ux-content">[#YIHUI_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="ERHUI_X" class="aws-form-ux-label">第二会议室（下午）</label></td>
<td class="aws-form-ux-content">[#ERHUI_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SANHUI_X" class="aws-form-ux-label">第三会议室（下午）</label></td>
<td class="aws-form-ux-content">[#SANHUI_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SIHUI_X" class="aws-form-ux-label">第四会议室（下午）</label></td>
<td class="aws-form-ux-content">[#SIHUI_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="QIPAISHI_X" class="aws-form-ux-label">棋牌室（下午）</label></td>
<td class="aws-form-ux-content">[#QIPAISHI_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="JIAOCHE_S" class="aws-form-ux-label">轿车（上午）</label></td>
<td class="aws-form-ux-content">[#JIAOCHE_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="QUANSHUN_S" class="aws-form-ux-label">全顺（上午）</label></td>
<td class="aws-form-ux-content">[#QUANSHUN_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="DAKECHE_S" class="aws-form-ux-label">大客车（上午）</label></td>
<td class="aws-form-ux-content">[#DAKECHE_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SHANGWUCHE_S" class="aws-form-ux-label">商务车（上午）</label></td>
<td class="aws-form-ux-content">[#SHANGWUCHE_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="MIANBAOCHE_S" class="aws-form-ux-label">面包车（上午）</label></td>
<td class="aws-form-ux-content">[#MIANBAOCHE_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="KAOSITE_S" class="aws-form-ux-label">考斯特（上午）</label></td>
<td class="aws-form-ux-content">[#KAOSITE_S]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="JIAOCHE_X" class="aws-form-ux-label">轿车（下午）</label></td>
<td class="aws-form-ux-content">[#JIAOCHE_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="QUANSHUN_X" class="aws-form-ux-label">全顺（下午）</label></td>
<td class="aws-form-ux-content">[#QUANSHUN_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="DAKECHE_X" class="aws-form-ux-label">大客车（下午）</label></td>
<td class="aws-form-ux-content">[#DAKECHE_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SHANGWUCHE_X" class="aws-form-ux-label">商务车（下午）</label></td>
<td class="aws-form-ux-content">[#SHANGWUCHE_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="MIANBAOCHE_X" class="aws-form-ux-label">面包车（下午）</label></td>
<td class="aws-form-ux-content">[#MIANBAOCHE_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="KAOSITE_X" class="aws-form-ux-label">考斯特（下午）</label></td>
<td class="aws-form-ux-content">[#KAOSITE_X]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="XZDCF" class="aws-form-ux-label">行政大床房</label></td>
<td class="aws-form-ux-content">[#XZDCF]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="BZBJ" class="aws-form-ux-label">标准标间</label></td>
<td class="aws-form-ux-content">[#BZBJ]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SWDCF" class="aws-form-ux-label">上午大床房</label></td>
<td class="aws-form-ux-content">[#SWDCF]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="BZDCF" class="aws-form-ux-label">标准大床房</label></td>
<td class="aws-form-ux-content">[#BZDCF]</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]</td>
</tr>
</tbody>
</table>
</div>
</form>
</body>
</html>