<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>消息提醒表单</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		[#AWSImport]
		[#AWSUIImport]
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" name="frmMain" method="post">
<div id="aws-form-container" class="aws-form-ux-container" border="0">
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" style="table-layout: auto;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg">
<td id="aws-form-title" class="aws-form-ux-header">消息提醒表单</td>
</tr>
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent">
<td>
<table id="table_container" class="awsui-ux table-striped" style="padding: 0px;" width="100%" cellspacing="3" cellpadding="0"><colgroup><col class="awsui-ux-title" /><col style="width: 100.0%;" /></colgroup>
<tbody>
<tr>
<td class="awsui-ux-title"><label for="XXFL" class="aws-form-ux-label">消息分类</label></td>
<td class="aws-form-ux-content">[#XXFL]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="XXNR" class="aws-form-ux-label">消息内容</label></td>
<td class="aws-form-ux-content">[#XXNR]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="FSRQ" class="aws-form-ux-label">发送日期</label></td>
<td class="aws-form-ux-content">[#FSRQ]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="FSRZH" class="aws-form-ux-label">发送人账号</label></td>
<td class="aws-form-ux-content">[#FSRZH]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="FSRXM" class="aws-form-ux-label">发送人姓名</label></td>
<td class="aws-form-ux-content">[#FSRXM]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="JSRZH" class="aws-form-ux-label">接收人账号</label></td>
<td class="aws-form-ux-content">[#JSRZH]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="JSRXM" class="aws-form-ux-label">接收人姓名</label></td>
<td class="aws-form-ux-content">[#JSRXM]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="DQZT" class="aws-form-ux-label">读取状态</label></td>
<td class="aws-form-ux-content">[#DQZT]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="SFKDJ" class="aws-form-ux-label">是否可点击</label></td>
<td class="aws-form-ux-content">[#SFKDJ]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="LJURL" class="aws-form-ux-label">链接地址</label></td>
<td class="aws-form-ux-content">[#LJURL]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="BZ" class="aws-form-ux-label">备注</label></td>
<td class="aws-form-ux-content">[#BZ]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label for="DQSJ" class="aws-form-ux-label">读取时间</label></td>
<td class="aws-form-ux-content">[#DQSJ]</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]</td>
</tr>
</tbody>
</table>
</div>
</form>
</body>
</html>