<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>上航_行车任务确认_司机</title>
	<!--字段背景风格App模板-->
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	[#AWSImport]
	[#AWSUIImport]
	
	
	<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_1.css?v=1588908694733' name='schemeCss'/>
	<link rel="stylesheet" type="text/css" href="../apps/com.actionsoft.apps.form.theme.antdui/css/theme/antdui.css?v=1589851448797">
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/com.actionsoft.apps.form.theme.antdui/css/theme/theme.css?v=1589851448797' name='themeCss'/>
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme.css?v=1537864330000' name='themeCss'/>
</head>
<body>
<form id="frmMain" name="frmMain" method="post">
<div id="aws-form-container" class="aws-form-ux-container" border="0">
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg">
<td id="aws-form-title" class="aws-form-ux-header">行车任务单</td>
</tr>
<!--电子政务-->
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent">
<td class="">
<table id="table_container" class="awsui-ux" width="100%" cellspacing="0" cellpadding="0" border="0"><colgroup><col class="awsui-ux-title" /><col style="width: 33.0%;" /><col class="awsui-ux-title" /><col style="width: 33.0%;" /><col class="awsui-ux-title" /><col style="width: 33.0%;" /></colgroup>
<tbody>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="APPLYUNIT">用车单位</label></td>
<td class="aws-form-ux-content">[#APPLYUNIT]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="CONTACTPERSON">用车联系人</label></td>
<td class="aws-form-ux-content">[#CONTACTPERSON]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="CONTACTPHONE">用车联系人手机</label></td>
<td class="aws-form-ux-content">[#CONTACTPHONE]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="APPLYUSERNAME">预定人</label></td>
<td class="aws-form-ux-content">[#APPLYUSERNAME]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="APPLYUSERCELLPHONE">预定人手机</label></td>
<td class="aws-form-ux-content">[#APPLYUSERCELLPHONE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="BILLDEPT">结算部门</label></td>
<td class="aws-form-ux-content">[#BILLDEPT]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="VEHICLETYPE" flag="labelRequired">车辆类型</label></td>
<td class="aws-form-ux-content">[#VEHICLETYPE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="SJXM" flag="labelRequired">司机姓名</label></td>
<td class="aws-form-ux-content">[#SJXM]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="SJLXFS" flag="labelRequired">司机联系方式</label></td>
<td class="aws-form-ux-content">[#SJLXFS]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="UDATE" flag="labelRequired">使用日期</label></td>
<td class="aws-form-ux-content">[#UDATE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="CPH" flag="labelRequired">车牌号</label></td>
<td class="aws-form-ux-content">[#CPH]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="ISINTERNALVEHICLE">车辆属性</label></td>
<td class="aws-form-ux-content">[#ISINTERNALVEHICLE]</td>
</tr>
<tr id="c8f1960e_d970_0001_2a3b_80321cb21fc6">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="ISOUTSHANGHAI">是否出省</label></td>
<td class="aws-form-ux-content">[#ISOUTSHANGHAI]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="BILLLIST" flag="labelRequired">结算项目</label></td>
<td class="aws-form-ux-content">[#BILLLIST]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="CFSJ" flag="labelRequired">出车时间</label></td>
<td class="aws-form-ux-content">[#CFSJ]</td>
</tr>
<tr id="c8f7aeff_fcc0_0001_f86f_1bb71f3b5db0">
<td class="awsui-ux-title"><label id="BOARDINGPLACELabel" class="aws-form-ux-label" for="BOARDINGPLACE">上车地点</label></td>
<td class="aws-form-ux-content">[#BOARDINGPLACE]</td>
<td class="awsui-ux-title"><label id="TARGETPLACELabel" class="aws-form-ux-label" for="TARGETPLACE">目的地</label></td>
<td class="aws-form-ux-content">[#TARGETPLACE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="CCSLMS" flag="labelRequired">出车时路码数(码)</label></td>
<td class="aws-form-ux-content">[#CCSLMS]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="SKLOCATION" flag="labelRequired">上客地点</label></td>
<td class="aws-form-ux-content">[#SKLOCATION]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="SKLMS" flag="labelRequired">上客路码</label></td>
<td class="aws-form-ux-content">[#SKLMS]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="SKDATETIME" flag="labelRequired">上客时间</label></td>
<td class="aws-form-ux-content">[#SKDATETIME]</td>
</tr>
<tr id="c8f19635_7830_0001_c320_1f241db71283">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="XKLOCATION" flag="labelRequired">下客地点</label></td>
<td class="aws-form-ux-content">[#XKLOCATION]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="XKLMS" flag="labelRequired">下客路码</label></td>
<td class="aws-form-ux-content">[#XKLMS]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="XKDATIME" flag="labelRequired">下客时间</label></td>
<td class="aws-form-ux-content">[#XKDATIME]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="FHSLMS" flag="labelRequired">返场路码</label></td>
<td class="aws-form-ux-content">[#FHSLMS]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="FHSJ" flag="labelRequired">返场时间</label></td>
<td class="aws-form-ux-content">[#FHSJ]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="RETURNPARK" flag="labelRequired">回场停车地点</label></td>
<td class="aws-form-ux-content">[#RETURNPARK]</td>
</tr>
<tr id="c8f7aef1_dfc0_0001_2757_f5e03d4c1953">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="GLF">路桥费</label></td>
<td class="aws-form-ux-content">[#GLF]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="TCF">停车费</label></td>
<td class="aws-form-ux-content">[#TCF]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="QTMONEY">其他费用</label></td>
<td class="aws-form-ux-content">[#QTMONEY]</td>
</tr>
<tr id="c8f76778_e8c0_0001_21c0_145e11a01b9a">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="ISLEAVESTAY" flag="labelRequired">是否出差过夜</label></td>
<td class="aws-form-ux-content">[#ISLEAVESTAY]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="STAYMONEY">住宿费</label></td>
<td class="aws-form-ux-content">[#STAYMONEY]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="LEAVEMONEY">出差费</label></td>
<td class="aws-form-ux-content">[#LEAVEMONEY]</td>
</tr>
<tr id="c8f19607_0870_0001_272d_1d891b281bb0">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="DAYPRICE" flag="labelRequired">基本租车费</label></td>
<td class="aws-form-ux-content">[#DAYPRICE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="OTTIMEPRICE">超小时费(元/小时)</label></td>
<td class="aws-form-ux-content">[#OTTIMEPRICE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="OTLEAVERICE">超公里费(元/公里)</label></td>
<td class="aws-form-ux-content">[#OTLEAVERICE]</td>
</tr>
<tr id="c8f19643_bf60_0001_9179_173014e01113">
<td class="awsui-ux-title"><label id="VEHICLELABELNAMELabel" class="aws-form-ux-label" for="VEHICLELABELNAME">车辆品牌</label></td>
<td class="aws-form-ux-content">[#VEHICLELABELNAME]</td>
<td class="awsui-ux-title"><label id="CCGYFLabel" class="aws-form-ux-label" for="CCGYF" flag="labelRequired">出差过夜费</label></td>
<td class="aws-form-ux-content">[#CCGYF]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="WZUNITPSN">外租公司调度</label></td>
<td class="aws-form-ux-content">[#WZUNITPSN]</td>
</tr>
<tr id="c8f767ce_a9f0_0001_7159_18ff1f8d1e14" style="display: none;">
<td class="awsui-ux-title"><label id="APPLYDEPTNAMELabel" class="aws-form-ux-label" for="APPLYDEPTNAME">用车部门</label></td>
<td class="aws-form-ux-content">[#APPLYDEPTNAME]</td>
<td class="awsui-ux-title"></td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="USECARTIME">用车时长</label></td>
<td class="aws-form-ux-content">[#USECARTIME]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="QRLC">总里程(km)</label></td>
<td class="aws-form-ux-content">[#QRLC]</td>
</tr>
<tr id="c8f19620_fe90_0001_32cf_1dd72a101981" style="display: none;">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="TOTALMONEY">费用总计</label></td>
<td class="aws-form-ux-content">[#TOTALMONEY]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="OVERTIMENUM">超时时间</label></td>
<td class="aws-form-ux-content">[#OVERTIMENUM]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="DAYOVERTIMEPRICE">超时费</label></td>
<td class="aws-form-ux-content">[#DAYOVERTIMEPRICE]</td>
</tr>
<tr id="c8f1963c_08b0_0001_d6a3_1e801700cc40" style="display: none;">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="OVERERDISTANCENUM">超里程数</label></td>
<td class="aws-form-ux-content">[#OVERERDISTANCENUM]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="DAYOVERKILOMETERSPRICE">超公里费</label></td>
<td class="aws-form-ux-content">[#DAYOVERKILOMETERSPRICE]</td>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="LEAVELOCATION">出差地点</label></td>
<td class="aws-form-ux-content">[#LEAVELOCATION]</td>
</tr>
<tr style="display: none;">
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="WZUNITPSN">外租公司联系方式</label></td>
<td class="aws-form-ux-content">[#WZUNITPSN]</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr id="aws-form-bottom">
<td class="aws-form-ux-bottom aws-form-ux-actionsoft">[#Actionsoft]
<div id="hiddenArea" border="0" style="display: none;">[#APPLYUID][#APPLYUNITID][#APPLYDEPTID][#CONTACTPERSONZH][#SJZH][#RESOURCETASKID][#RESOURCETASKFPID][#ORDERID][#MISSIONSTATUS][#BILLDEPTID][#WZUNITPSNID][#WZUNITPSNPHONE][#SETTLEMENTTYPE][#SETTLEMENTTYPE][#ORDERDATE]</div>
</td>
</tr>
</tbody>
</table>
<script src="../apps/com.actionsoft.apps.form.theme.antdui/js/commom.form.js?v=1589851448822"></script>
<script src="../apps/com.actionsoft.apps.form.theme.antdui/js/antdui.js?v=1589851448822"></script>
</div>
</form>
<script id="formSave">
/*
参数isTransact为true，表示办理按钮触发的保存动作
其他情况是保存按钮触发的保存动作
*/
function formSave(isTransact){
  	debugger;
  	var useDate = $("#UDATE").val();//用车时间
  	var userCarType = ui("VEHICLETYPE");//车辆类型
  	if(useDate != ""){
    	useDate = useDate.substring(0,10);
    }
  	var d = new Date(useDate);
  	var useTwoDate = formatDate(d);
  	var useTwoDateNew = new Date(useTwoDate);//用车的后两天日期
  	var sysDate = new Date();
  	var date = twoStr(2);
  	var sysDateNew = new Date(date);//系统当前日期
  	/*if((userCarType == "4" || userCarType == "5") && sysDateNew > useTwoDateNew){//车辆类型:4:中巴5:大巴
    	$.simpleAlert("大巴车辆需提前两天预定！","info");
        return false;
    }*/
    var userTaskDefId = $("#userTaskDefId").val();
  	if(userTaskDefId == "obj_c8f1f74f91b00001a4a53941155bca40"){//外租公司调度接收
    	var sjh = $("#SJLXFS").val();//司机联系方式
      	var cph = $("#CPH").val();//车牌号
      	if(Number(sjh.length) >11 || Number(sjh.length) <11 || !(/(^[1-9]\d*$)/.test(sjh))){//手机号
        	$.simpleAlert("请输入正确的手机号！","info",3000);
            return false;
        }
      	if(Number(cph.length)<7 || Number(cph.length)>8){//车牌号7位和8位
        	$.simpleAlert("请输入正确的车牌号！","info",3000);
            return false;
        }
    }else if(userTaskDefId == "obj_b077fea06f514ed3b803c9ba331c79d1" || userTaskDefId == "obj_055dc6822a5547c489578e750084c3ba" || userTaskDefId == "obj_29c124f6d58d43c8959073ad89569257" || userTaskDefId == "obj_2ff40e32c92b44e8802c0f8fdbc7df77"){//司机行车确认、车队结算员
    	var sksj = $("#SKDATETIME").val();//上客时间
        var xksj = $("#FHSJ").val();//返场时间
        var cxsf = $("#OTTIMEPRICE").val();//超小时费(元/小时)
        var cglf = $("#OTLEAVERICE").val();//超公里费(元/公里)
        var cssc = $("#OVERTIMENUM").val();//超时时间
        var jslms = $("#FHSLMS").val();//返场路码
        var sklms = $("#SKLMS").val();//上客路码
        if(Number(jslms) < Number(sklms)){
            $.simpleAlert("返场路码数需要大于上客路码数，请确认！","info",3000);
            return false;
        }
        var lms = Number(jslms)-Number(sklms);
        $("#QRLC").val(lms);//行驶里程
        var sfccgy = ui("ISLEAVESTAY");//是否出差过夜
        if(sfccgy == "1"){//是
            $("#CCGYF").val(Number(cxsf)*5);//出差过夜费
        }else{
        	 $("#CCGYF").val("0");//出差过夜费
        }
        var ccgyf = $("#CCGYF").val();//出差过夜费
        var jbzcf = $("#DAYPRICE").val();//基本租车费
        var lqf = $("#GLF").val();//路桥费
        var zsf = $("#STAYMONEY").val();//住宿费
        var tcf = $("#TCF").val();//停车费
        var qtfy = $("#QTMONEY").val();//其他费用
        var jsjcfy = Number(lqf)+Number(tcf)+Number(qtfy);
      	var fy = Number(jbzcf)+Number(lqf)+Number(tcf)+Number(qtfy);
        var sksjDate = new Date(sksj).getTime();
        var xksjDate = new Date(xksj).getTime();
        var cssjTime = (xksjDate - sksjDate)/1000/60/60;
        var cssjNum = Number(cssjTime);
        var ycsc = Math.ceil(cssjNum);//向上取整
        $("#USECARTIME").val(ycsc);//用车时长
      	var rz = ui("BILLLIST");//0:接送虹桥机场|1:接送浦东机场|2:日租
      	var cx = ui("VEHICLETYPE");//车辆类型
      	var clpp = ui("VEHICLELABELNAME");//车辆品牌
        if(rz == "2"){//2:日租
            if(cssjNum > 9){//日租超过9小时，需要计算超时时间
                var cssj = Math.ceil(cssjNum-9);//向上取整
              	if(cssj != "undefiend"){
                	$("#OVERTIMENUM").val(cssj);
                  	cssc = cssj;
                }
            }else{
                $("#OVERTIMENUM").val("0");
            }
          	if(ycsc>4){//全天
              cssc = $("#OVERTIMENUM").val();//超时时间
              var csf = Number(cxsf)*Number(cssc);
              $("#DAYOVERTIMEPRICE").val(csf);//超时费
              var xslc = Number(lms)-100;
              if(Number(xslc) < 0 || Number(xslc) == "undefiend"){
                  $("#OVERERDISTANCENUM").val("0");//超里程数
              }else{
                  $("#OVERERDISTANCENUM").val(xslc);//超里程数
              }
              var glf = Number(cglf)*Number(xslc);
              if(Number(glf) < 0 || Number(glf) == "undefiend"){
                  $("#DAYOVERKILOMETERSPRICE").val("0");//超公里费
              }else{
                  $("#DAYOVERKILOMETERSPRICE").val(glf);//超公里费
              }
			  var fyzj = Number(jbzcf)+Number(jsjcfy)+Number(zsf)+Number(ccgyf);
			  if(Number(glf)>0){
				fyzj = Number(fyzj)+Number(glf);
			  }
			  if(Number(csf)>0){
				fyzj = Number(fyzj)+Number(csf);
			  }
              $("#TOTALMONEY").val(fyzj);//费用总计
          }
          if(ycsc<=4){//半天
              var xslc = Number(lms)-50;
              if(Number(xslc) < 0 || Number(xslc) == "undefiend"){
                  $("#OVERERDISTANCENUM").val("0");//超里程数
              }else{
                  $("#OVERERDISTANCENUM").val(xslc);//超里程数
              }
              var glf = Number(cglf)*Number(xslc);
              if(Number(glf) < 0 || Number(glf) == "undefiend"){
                  $("#DAYOVERKILOMETERSPRICE").val("0");//超公里费
              }else{
                  $("#DAYOVERKILOMETERSPRICE").val(glf);//超公里费
              }      	
              var fyzj = (Number(jbzcf)/2)+Number(jsjcfy)+Number(zsf)+Number(ccgyf);
			  if(Number(glf)>0){
				fyzj = Number(fyzj)+Number(glf);
			  }
              $("#TOTALMONEY").val(fyzj);//费用总计
          }
        }else if(rz == "0"){//0:接送虹桥机场
          	awsui.ajax.request({
                url: "./jd",
                method: "POST",
                async: false,
                dataType: "json",
                data: {
                    sid: $("#sid").val(),
                    cmd: "com.awspaas.user.apps.shhtaerospaceindustrial_getJsjfy",
                    cx: cx,
                  	clpp:clpp
                },
                success: function (responseObject) {
                    if (responseObject.status == 0) {
                      	$("#DAYPRICE").val(responseObject.hq);
                      	$("#DAYPRICE").attr("readonly","true");
                      	//$(".awsui-iconfont-buttonedit-search").hide();
                      	$("#OTTIMEPRICE").val("");
                      	$("#OTLEAVERICE").val("");
                    }
                }
            });
            var jbzcfNew = $("#DAYPRICE").val();//基本租车费
			var fyjc = Number(jbzcfNew)+Number(lqf)+Number(tcf)+Number(qtfy);
        	$("#TOTALMONEY").val(fyjc);//费用总计
        }else if(rz == "1"){//1:接送浦东机场
          	awsui.ajax.request({
                url: "./jd",
                method: "POST",
                async: false,
                dataType: "json",
                data: {
                    sid: $("#sid").val(),
                    cmd: "com.awspaas.user.apps.shhtaerospaceindustrial_getJsjfy",
                    cx: cx,
                  	clpp:clpp
                },
                success: function (responseObject) {
                    if (responseObject.status == 0) {
                      	$("#DAYPRICE").val(responseObject.pd);
                      	$("#DAYPRICE").attr("readonly","true");
            			//$(".awsui-iconfont-buttonedit-search").hide();
                      	$("#OTTIMEPRICE").val("");
                      	$("#OTLEAVERICE").val("");
                    }
                }
            });
        	var jbzcfNew = $("#DAYPRICE").val();//基本租车费
			var fyjc = Number(jbzcfNew)+Number(lqf)+Number(tcf)+Number(qtfy);
        	$("#TOTALMONEY").val(fyjc);//费用总计
        }
    }  	
  	
  	/*setTimeout(function(){
      	//$('#BTN_SAVE').trigger("click");
    	location.reload();
    },1000);*/
}
function jbzcf(){
	var rz = ui("BILLLIST");//0:接送虹桥机场|1:接送浦东机场|2:日租
  	if(rz == "2"){//2:日租
    	$("#DAYPRICE").val("");
    }
}
function formatDate(date) {
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    month = month < 10 ? "0" + month : month;
    day = day < 10 ? "0" + day : day;
    returnStr = year + "-" + month + "-" + day;
    return returnStr;
}
function twoStr(n) {
    var returnStr = "";
    var date = new Date();      //当前时间
    var timeStamp = date.getTime() + n * 24 * 60 * 60 * 1000;
    date = new Date(timeStamp);
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    month = month < 10 ? "0" + month : month;
    day = day < 10 ? "0" + day : day;
    returnStr = year + "-" + month + "-" + day;
    return returnStr;
}
</script>
<script id="formOnload">// <![CDATA[
function formOnload(){
 	//$("#BTN_SAVE").parent().hide();//隐藏表单上的保存按钮
}
$(".mui-input-right").removeAttr("readonly");
$(".mui-input-clear").removeAttr("readonly");
$("#DAYPRICE").removeAttr("readonly");
$("input").each(function(){
	if($(this).attr("readonly")=="readonly"){
		$(this).css({"background-color":"#eee"});
	};
});
function jbzcf(){
  	debugger;
  	var cx = ui("VEHICLETYPE");//车辆类型
    var clpp = ui("VEHICLELABELNAME");//车辆品牌
	awsui.ajax.request({
        url: "./jd",
        method: "POST",
        async: false,
        dataType: "json",
        data: {
          sid: $("#sid").val(),
          cmd: "com.awspaas.user.apps.shhtaerospaceindustrial_getJsjfy",
          cx: cx,
          clpp:clpp
        },
        success: function (responseObject) {
          debugger;
          if (responseObject.status == 0) {
			var	jsfs = ui("BILLLIST");//结算项目0:接送虹桥机场|1:接送浦东机场|2:日租
            if(jsfs == "0"){
            	$("#DAYPRICE").val(responseObject.hq);//基本租车费
              	$("#OTTIMEPRICE").val("");//超小时费(元/小时)
              	$("#OTLEAVERICE").val("");//超公里费(元/公里)
            	$("#OVERERDISTANCENUM").val(0);//超里程数
              	$("#DAYOVERKILOMETERSPRICE").val(0);//超公里费
             	$("#OVERTIMENUM").val("");//超时时间
              	$("#DAYOVERTIMEPRICE").val(0);//超时费
            }else if(jsfs == "1"){
            	$("#DAYPRICE").val(responseObject.pd);
              	$("#OTTIMEPRICE").val("");//超小时费(元/小时)
              	$("#OTLEAVERICE").val("");//超公里费(元/公里)
              	$("#OVERERDISTANCENUM").val(0);//超里程数
              	$("#DAYOVERKILOMETERSPRICE").val(0);//超公里费
             	$("#OVERTIMENUM").val("");//超时时间
              	$("#DAYOVERTIMEPRICE").val(0);//超时费
            }else if(jsfs == "2"){
             	$("#DAYPRICE").val(responseObject.jbzcf);
            	$("#OTTIMEPRICE").val(responseObject.csf);//超小时费(元/小时)
              	$("#OTLEAVERICE").val(responseObject.cglf);//超公里费(元/公里)
            }
          }
        }
    });
}
// ]]></script>
</body>
</html>